<div class="main">
  <% posts.forEach(post => { %>

  <div class="post-container">
    <div class="post-header">
      <div class="post-title"><%= post.title %></div>

      <div class="post-actions">
        <div class="action-edit">
          <a href="/edit/<%= post.id %>" class="post-edit-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
          </a>
        </div>

        <div class="action-delete">
          <button onclick="openDeleteModal('/delete/<%= post.id %>?from=profile')" class="post-delete-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"> <path d="M18 6 6 18" /> <path d="m6 6 12 12" /></svg>
          </button>
        </div>
          
      </div>
    </div>

    <div class="post-content"><%= post.content %></div>

    <div class="post-footer">
      <div class="post-author"><%= post.fullname %></div>
      <div class="post-date"><%= formatDate(post.created_at) %></div>
    </div>
  </div>
  <% }); %>
</div>
