<div class="main">
  <% posts.forEach(post => { %>
  <div class="post-container">
    <div class="post-header">
      <div class="post-title"><%= post.title %></div>

      <div class="admin-actions">
        <% if (user?.role_id === 3) { %>
        <form action="/delete/<%= post.id %>" method="POST">
          <button type="submit" class="admin-delete-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>          
          </button>
        </form>
        <% } %>
      </div>
    </div>

    <div class="post-content"><%= post.content %></div>

    <div class="post-footer">
      <div class="post-author"><%= user?.role_id == 2 || user?.role_id == 3 ? post.fullname : "Anonymous" %></div>
      <div class="post-date"><%= formatDate(post.created_at) %></div>
    </div>
  </div>
  <% }); %>
</div>
